/* Reset CSS */
body {
    Padding: 0;
    Box-sizing: border-box;
    font: 14px Arial, Helvetica, sans-serif;
}

/* Custom properties */
:root {
    --border: 1px dashed black;
    --paddingm: 10px;
    --paddings: 5px;
    --marginm: 10px;
}

/* Header top*/
.header-top {
    background-color: rgb(158, 207, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--paddingm);
}

.header-top>* {
    display: flex;
    border: var(--border);
    padding: var(--paddingm);
    margin: 5px 0px 5px;
    background-color: rgb(208, 149, 26);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px;
    padding-inline-start: 0px;
}


.header-top .link {
    flex-grow: 0.30;
    justify-content: center;
}

div.logo {
    flex-grow: 0.15;
}

div.login {
    flex-grow: 0.15;
    justify-content: flex-end;
}

/* Header bottom */
.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 120);
    min-height: 400px;
}

.box-bottom {
    background-color: rgb(231, 101, 234);
    border: var(--border);
    flex-basis: 50%;
    height: 300px;
}